@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color:#0a0c1b;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: white;

}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.insider {
    background-color: #1c1938;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 60vw;
}



.image {
    min-height: 180px;
    background-image: linear-gradient(to bottom , rgba(170, 92, 219, 0.6), rgba(170, 92, 219, 0.6) ) ,url(../images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: contrast(2) brightness(.6) saturate(1.1);
}


.text {
    text-align: center;
    margin: 20px;
}


.text .title {
    font-weight: 700;
    font-size: 1.2rem;
}

.title #color{
    color: #aa5cdb;
}

.text .title2 {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: .7rem;
    margin: 10px 0;
    font-weight: 400;
}


.title3,
.title4,
.title5 {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: .8;
    margin: 20px 0;
}

#title3,
#title4,
#title5 {
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    font-size: .5rem;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
}


/* MEDIA QUERIES */

@media (min-width:1400px){
    .insider{
        flex-direction: row-reverse;
        
   
    }

    .image{
        width: 50%;
        
        border-top-left-radius: 0px;
        border-bottom-right-radius: 10px;
        
    }

    .text{
        margin: 50px;
        text-align: left;
        width: 50%;
    }
    .text .title {
        font-weight: 700;
        font-size: 1.8rem;
        margin: 20px 30px;
    }
    .text .title2 {
        font-size: .9rem;
        margin: 20px 30px;
    }
    .title3,
    .title4,
    .title5 {
        font-size: 1.3rem;
        display: inline-block;
        margin: 40px 30px;
        

    }
    #title3,
    #title4,
    #title5 {
        font-size: .6rem;
        
    }
    
   
}




@media (min-width:1550px){
    .insider{
        flex-direction: row-reverse;
        
        max-width: fit-content;
        max-height: fit-content;
    }

    .image{
        width: 50%;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 10px;
        
    }

    .text{
        margin: 50px;
        text-align: left;
        width: 50%;
    }
    .text .title {
        font-weight: 700;
        font-size: 2rem;
        margin: 20px 30px;
    }
    .text .title2 {
        font-size: 1rem;
        margin: 20px 30px;
    }
    .title3,
    .title4,
    .title5 {
        font-size: 1.7rem;
        display: inline-block;
        margin: 40px 30px;
        

    }
    #title3,
    #title4,
    #title5 {
        font-size: .8rem;
        
    }

}
/* End Of MEDIA QUERIES */

/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */